{% extends 'shared/base.html' %}

{% block title %}
  Liste Consultations
{% endblock %}

{% block content %}
  <h2>Consultations de {{ patient.last_name }} {{ patient.first_name }}</h2>
  <ul>
    {% for consultation in consultations %}
      <li>
        {{ consultation.nom }} - {{ consultation.date }} - {{ consultation.type }}
        {% if user.is_staff %}<a href="{% url 'update_consultation' consultation.id %}">Modifier</a>{% endif %}
        {% if user.is_staff %}<a href="{% url 'delete_consultation' consultation.id %}">Supprimer</a>{% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if user.is_staff %}<a href="{% url 'create_consultation' patient.id %}">Nouvelle consultation</a>{% endif %}
{% endblock %}