{% extends 'shared/base.html' %}

{% block title %}
  Introuvable | Engage Santé
{% endblock %}

{% block content %}
  <div class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
      <img src="{% static "images/404.png" %}" class="pr-5" />
      <div>
        <h1 class="text-5xl font-bold">OUPS !</h1>
        <p class="py-6">La page demandé est introuvable.</p>
        <a href="/" class="btn btn-accent">Revenir à l'accueil</a>
      </div>
    </div>
  </div>
{% endblock %}
