{% extends 'shared/base.html' %}

{% block title %}
  Mentions légales | Engage Santé
{% endblock %}

{% block content %}
  <article class="p-20 text-justify">
    <h1 class="text-3xl font-bold mb-10">Mentions légales</h1>
    Le site web XXXX est la propriété de XXXX (+numéro RCS ou RM ou n° Siren/siret)
    <br />
    <br />
    <strong>Siège Social</strong> : XXXX (Adresse)<br />
    <br />
    <strong>Tel.</strong> : XXXX<br />
    <br />
    <strong>Email</strong> : XXXX<br />
    <br />
    <strong>Responsable de la publication</strong> : XXXX<br />
    <br />
    <strong>Capital social</strong> : à renseigner pour une entreprise.<br />
    <br />
    <strong>Créateur et hébergement du site :</strong><br />
    La société XXXX, XXXX au capital de XXXX euros immatriculée au RCS de XXXX sous le n° de<br />
    Siret : XXXXXXXXXXXXXX.<br />
    Adresse : X XXXXX XXXX XXXXX - XXXXXX XXXXX<br />
    Tel : XX XX XX XX XX<br />
    Mail : contact@XXXXXX.com<br />
    <br />
    <strong>Modifications</strong><br />
    En accédant et en naviguant sur ce site, l'utilisateur est informé de ses droits et obligations et accepte pleinement de se conformer aux présentes conditions d'utilisations du site. L'éditeur du site se réserve la possibilité de modifier ces conditions. Il appartient à l'utilisateur de vérifier périodiquement le contenu des documents concernés. L'éditeur se réserve la possibilité de supprimer ou de modifier en tout ou partie le « site ».<br />
    <br />
    <strong>Responsabilités "XXX (Nom du circuit)"</strong><br />
    L'éditeur du site XXX met tout en œuvre pour assurer l'exactitude et la mise à jour de l'ensemble des informations fournies sur son site.<br />
    Il ne peut garantir que les informations contenues sur le site soient complètes, précises, exactes, exhaustives et dépourvues de toute erreur.<br />
    XXX s'engage, dès qu'un utilisateur quelconque transmet toute erreur constatée aux coordonnées ci-dessus, à procéder à la correction dans les plus brefs délais.<br />
    <br />
    <strong>Accessibilité</strong><br />
    Le site est par principe accessible aux utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou non, pour des besoins de maintenance ou en cas de force majeure.<br />
    En cas d'indisponibilité d'accès au site, celui-ci s'engage à faire son maximum afin de rétablir l'accès.<br />
    Le site ne saurait être tenu pour responsable de tout dommage, quelle qu'en soit la nature, résultant de son indisponibilité.<br />
    <br />
    <strong>Collecte de données et Loi Informatiques et Libertés</strong><br />
    En conformité avec la loi du 6 janvier 1978 relative à l'informatique, aux fichiers, aux libertés, le traitement automatisé des données nominatives réalisé à partir du Site Internet XXXX a fait l'objet d'une déclaration (indiquer le N° de déclaration) auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL).<br />
    <br />
    Conformément à la loi n° 78-17 du 6 janvier 1978, l'utilisateur peut à tout moment accéder aux informations personnelles le concernant détenues par XXXX, demander leur modification ou leur suppression. Ainsi, selon les articles 36, 39 et 40 de la loi Informatique et Libertés, l’utilisateur peut demander que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations le concernant qui sont inexactes, incomplètes, équivoques, périmées ou dont la collecte ou l'utilisation, la communication ou la conservation sont interdites.<br />
    Si vous souhaitez exercer ce droit et obtenir communication des informations vous concernant,<br />
    veuillez-vous adresser<ul>
      <li>par courrier à ......</li>
      <li>par email à .......</li>
    </ul>Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant. Nous nous engageons à prendre toutes précautions afin de préserver la sécurité de ces informations et notamment empêcher qu'elles ne soient déformées, endommagées ou communiquées à des tiers.<br />A la clôture du compte et à toutes fins de preuve, des données concernant l'utilisateur peuvent être conservées et archivées confidentiellement par XXXX selon les lois en vigueur.<br />
    Afin d'améliorer la qualité de son service et de mieux répondre aux attentes de ses utilisateurs, XXXX pourra être amené à collecter des données nominatives sur l'utilisateur, notamment par l'utilisation de marqueurs (cookies).
  </article>
{% endblock %}
