{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
        Mon Site
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/engage-ui.css' %}" />
    {% block extra_head %}

    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        {% if user.is_authenticated %}
          <span>Bienvenue, {{ user.first_name }} {{ user.last_name }}</span>
          {% if user.is_staff %}
            <span>(Staff)</span>
          {% endif %}
          <span>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Déconnexion</button>
            </form>
          </span>
        {% else %}
          <span><a href="{% url 'login' %}">Connexion</a></span>
        {% endif %}
      </nav>
    </header>

    <main>
      {% block content %}

      {% endblock %}
    </main>

    <footer>
      <!-- Your footer content -->
    </footer>
  </body>
</html>
