{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
        Engage Santé
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/engage-ui.css' %}" />
    {% block extra_head %}

    {% endblock %}
  </head>
  <body class="text-base-content">
    <header>
      <div class="navbar bg-base-300">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl">Engage Santé</a>
        </div>
        <div class="flex-none">
          <ul class="menu-horizontal px-1">
            <li class="flex flex-row items-center">
              {% if user.is_authenticated %}
                <p class="px-5">Bienvenue, {{ user.first_name }} {{ user.last_name }} {% if user.is_staff %}<span class="text-warning">(Staff)</span>{% endif %}</p>
                  <form class="btn btn-accent drop-shadow-md" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Déconnexion</button>
                  </form>
              {% else %}
                <span class="btn btn-accent drop-shadow-md"><a href="{% url 'login' %}">Connexion</a></span>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </header>

    <main class="p-10">
      {% block content %}

      {% endblock %}
    </main>

    <footer>
      <!-- Your footer content -->
    </footer>
  </body>
</html>
