{% extends 'shared/base.html' %}

{% block title %}
  Informations Utilisateur | Engage Santé
{% endblock %}

{% block content %}
  <div class="min-h-screen pt-10">
    <div class="flex flex-col items-center justify-center">
      <!-- Espace informations -->

      <div class="flex items-start justify-center space-x-4 pb-10">
        <div class="avatar placeholder">
          <div class="bg-neutral text-neutral-content rounded-full w-24">
            <span class="text-3xl">{{ utilisateur.last_name|slice:':1'|upper }}{{ utilisateur.first_name|slice:':1'|upper }}</span>
          </div>
        </div>
        <div>
          <h1 class="text-3xl font-bold mb-2">Informations de l'utilisateur</h1>
          <p class="text-xl">{{ utilisateur.last_name }} {{ utilisateur.first_name }}</p>
          <br />
          <p class="text-lg">
            Identifiant unique à conserver : <span class="font-bold">{{ utilisateur.username }}</span>
          </p>
          <br />
          <p class="text-lg">Email : {{ utilisateur.email }}</p>
          <br />
          <p class="text-lg">
            {{ utilisateur.rue }},<br /> {{ utilisateur.cp }} {{ utilisateur.ville }}
          </p>
          {% if user.is_staff %}
            <a class="btn btn-accent my-5" href="{% url 'update_utilisateur' utilisateur.id %}">Modifier le profil</a>
          {% endif %}
        </div>
      </div>

      <!-- Espace consultations -->

      {% if not utilisateur.is_staff %}
        <div class="flex flex-col justify-center items-center">
          <h2 class="text-3xl my-10">Prochaines consultations</h2>
          <div class="overflow-x-auto p-10">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-lg">Nom</th>
                  <th class="text-lg">Date</th>
                  <th class="text-lg">Type</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for consultation in consultations %}
                  <tr class="hover:bg-base-200">
                    <th>{{ consultation.nom }}</th>
                    <th>le {{ consultation.date|date:"j-m-Y à H:i" }}</th>
                    <th>{{ consultation.type }}</th>
                    <th class="w-1/2">
                      <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-200">
                        <div class="collapse-title text-xl font-medium">Description</div>
                        <div class="collapse-content break-words">
                          <p>{{ consultation.description }}</p>
                        </div>
                      </div>
                    </th>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
