{% extends 'shared/base.html' %}

{% block title %}
  Liste Utilisateur
{% endblock %}

{% block content %}
  <h1>Liste des Patients</h1>
  <a href="{% url 'register_patient' %}">Ajouter</a>
  <ul>
    {% for patient in patients %}
      <li>
        {{ patient.username }} - {{ patient.last_name }} {{ patient.first_name }} - {{ patient.rue }}, {{ patient.cp }} {{ patient.ville }}
        <a href="{% url 'update_utilisateur' patient.id %}">Modifier</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
