{% extends 'shared/base.html' %}

{% block title %}
  Connexion
{% endblock %}

{% block content %}
  <h1>Connexion</h1>
  {% if form.errors %}
    <p>Votre nom d'utilisateur et mot de passe sont incorrects. Veuillez réessayer.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Votre compte n'a pas accès à cette page. Pour la visualiser connectez vous avec un compte ayant les permissions nécessaires.</p>
    {% else %}
      <p>Merci de vous connecter pour accéder à cette page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <p>
    <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
  </p>
{% endblock %}
